/*
/*/

\#*#
*~

!.gitignore
!.vimrc
!.i3/
!.i3status.conf
!.fonts.conf
!.mpdconf
!.zshrc
!.zprofile
!.zlogin
!.xinitrc

.config/*
!.config

!.config/compton.conf

.config/fontconfig/*
!.config/fontconfig
!.config/fontconfig/fonts.conf

# git update-index --skip-worktree .config/QtProject/QtCreator.ini
.config/QtProject/*
!.config/QtProject
!.config/QtProject/QtCreator.ini
