/*

!bin

!.gitignore
!.gitconfig
!.zshenv
!.zshrc
!.profile
!.xbindkeysrc
!.pacman-packages-list

!.config
.config/*
!.config/kglobalshortcutsrc
!.config/kxkbrc
!.config/picom.conf
!.config/plasma-localerc
!.config/starship.toml
!.config/user-dirs.dirs
!.config/user-dirs.locale

!.config/autostart
!.config/bspwm
!.config/fontconfig
!.config/kdedefaults
!.config/latte
!.config/plasma-workspace
!.config/rofi
!.config/sxhkd
!.config/nvim


!.xonotic
.xonotic/*
!.xonotic/data
.xonotic/data/*
!.xonotic/data/config.cfg
