/*
/*/

\#*#
*~

!.gitignore
!.vimrc
!.i3/
!.i3status.conf
!.fonts.conf
!.mpdconf
!.zshrc
!.xinitrc

.config/*
!.config

!.config/compton.conf

.config/fontconfig/*
!.config/fontconfig
!.config/fontconfig/fonts.conf

.config/QtProject/*
!.config/QtProject
!.config/QtProject/QtCreator.ini
